<!DOCTYPE html>
<html>
<head>
<meta name="description" content="ArcGIS REST Export Maps">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  <span>
    <img src="https://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/export?bbox=-74.2,40.6,-73.7,41&bboxSR=4326&size=298,200&f=image">
    <img src="https://services.arcgisonline.com/arcgis/rest/services/Canvas/World_Dark_Gray_Base/MapServer/export?bbox=-74.2,40.6,-73.7,41&bboxSR=4326&size=298,200&f=image">
  </span>
  <img src="https://services.arcgisonline.com/arcgis/rest/services/ESRI_Imagery_World_2D/MapServer/export?bbox=-74.2,40.6,-73.7,41&bboxSR=4326&size=600,400&f=image">
</body>
</html>